@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcumb_area bg-img" style="background-image: url(/Content/Site/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>@ViewBag.PageInfo</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        @*<h6 class="widget-title mb-30">Catagories</h6>*@

                        <!--  Catagories  -->

                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#myproducts">
                                    <a href="">ÜRÜNLERİM</a>
                                    <ul class="sub-menu collapse show" id="myproducts">
                                        <li><a href="/UserProfil/MyProducts">Ürün Listem</a></li>
                                        <li><a href="">Takastaki Ürünlerim</a></li>
                                        <li><a href="">Onay Bekleyen Ürünlerim</a></li>
                                        <li><a href="">Takaslanmış Ürünlerim</a></li>
                                        <li><a href="/Product/AddProduct">Ürün Ekle</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#myprofile">
                                    <a href="/UserProfil/Profil">PROFİLİM</a>
                                    <ul class="sub-menu collapse show" id="myprofile">
                                        <li><a href="/UserProfil/Profil">Profilimi Düzenle</a></li>
                                        <li><a href="">Profil Resmim</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li>
                                    <a href="/UserProfil/Exchanges">TAKASLARIM</a>
                                </li>
                                <li>
                                    <a href="/UserProfil/Messages">MESAJLARIM</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           @RenderBody()
        </div>
    </div>
</section>