@model Takas.Common.Response.GetUserProductResponse
@{
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
    string pathAPI = @"http://localhost:2765/Uploads/";
}

<div class="col-12 col-md-8 col-lg-9">
    <div class="shop_grid_product_area">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="@Path.Combine(pathAPI,item.Image)" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="@Path.Combine(pathAPI,item.Image)" alt="">
                        </div>

                        <!-- Product Description -->
                        <div class="product-description">
                            <span>@item.Brand.Name</span>
                            <a href="single-product-details.html">
                                <h6>@item.Name</h6>
                            </a>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Düzenle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


