@model List<Takas.Entities.Concrete.User>
@{ bool GosterilsinMi = false; }
@{
    // Eger Gelen action Name TumKullanicilar ise otomatikman Kullanacagi Layout u vermis oluyoruz.
    if (HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action") == "UserList")
    {

        ViewBag.Title = "TumKullanicilar";
        Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayoutPage.cshtml";
        GosterilsinMi = true;
    }

}


@* todo  Gelen Model Icerisinde IsActive e bakarak ya da isBlocked a bakarak kullanicinin bulundugu satirin arka plan rengini degistirebiliriz.*@


<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Kullanici Listesi
        @*<div class="row"> Renk Ayari Yapmak Istersen Sendeyiz Yavuz
                <i class="fas fa-table btn-lg"></i>
                <div class="alert alert-success" role="alert">
                    Kullanici Listesi
                </div>
            </div>*@
    </div>@if (GosterilsinMi)
    {
        <a href="@Url.Action("AddUser","Admin")" class="btn btn-primary btn-xl text-center">Kullanici Ekle</a>
    }

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    @if (@GosterilsinMi)
                    {
                        <tr>
                            <th>Adi</th>
                            <th>Soyadi</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Role</th> <!-- Gelen Role Id sine Gore Enum.Parse ti sanirim bunu kullanarak kullanicinin sistemdeki rolu unu string olarak ekrana yazdirabiliriz-->
                            <th>Islemler</th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>Adi</th>
                            <th>Soyadi</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Role</th> <!-- Gelen Role Id sine Gore Enum.Parse ti sanirim bunu kullanarak kullanicinin sistemdeki rolu unu string olarak ekrana yazdirabiliriz-->
                            <th>Adress</th>
                        </tr>
                    }
                </thead>
                <tfoot>
                    @if (GosterilsinMi)
                    {
                        <tr>
                            <th>Adi</th>
                            <th>Soyadi</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Role</th> <!-- Gelen Role Id sine Gore Enum.Parse ti sanirim bunu kullanarak kullanicinin sistemdeki rolu unu string olarak ekrana yazdirabiliriz-->
                            <th>Islemler</th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>Adi</th>
                            <th>Soyadi</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Role</th> <!-- Gelen Role Id sine Gore Enum.Parse ti sanirim bunu kullanarak kullanicinin sistemdeki rolu unu string olarak ekrana yazdirabiliriz-->
                            <th>Adress</th>
                        </tr>
                    }
                </tfoot>
                <tbody>
                    @if (GosterilsinMi)
                    {
                        <tr>
                            <td>Recep Mert</td>
                            <td>Aslan</td>
                            <td>Edinburgh</td>
                            <td>5354531601</td>
                            <td>MadaLavir</td>
                            <td>
                                <a href="@Url.Action("Update", "Admin", new { id = 1 })" class="btn btn-outline-success btn-sm">Guncelle</a>
                                <a href="@Url.Action("Delete", "Admin", new {id = 1})" class="btn btn-outline-danger btn-sm" onclick="return confirm('Silmek istediğinize emin misiniz')">Sil</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>Burasi Adress Kismi RMA</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>