@model Takas.Entities.Concrete.User
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post" action="/Account/LoginUser"> 
                <span class="login100-form-title p-b-26">
                    ProjectX'e Hoş Geldiniz
                </span>
                <span class="login100-form-title p-b-48">
                    
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input class="input100" type="text" name="email" value="@Model.Email">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password" value="@Model.Password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Hesabın yok mu?
                    </span>

                    <a class="txt2" href="/Account/SignUp">
                        Kayıt Ol
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

