@model Takas.Common.Entities.Concrete.User
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '958753294515704',
      xfbml      : true,
      version    : 'v3.2'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post" action="/Account/LoginUser">
                <span class="login100-form-title p-b-72">
                    ProjectX'e Hoş Geldiniz
                </span>
                <span style="color:red;text-align:center">
                    @ViewBag.SystemMessage
                </span>
                <span style="color:red;text-align:center">
                </span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input class="input100" type="text" name="email" value="@Model.Email" required>
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password" value="@Model.Password" required>
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>
                </div>
                <div class="container-login100-form-btn">

                    <a class="btn btn-block btn-social btn-facebook" style="background-color: #3B5998 ;color: aliceblue;width:50px;" href="@Takas.Common.SystemConstants.FacebookEntegration.getfburl()">
                        <span class="fa fa-facebook" style="font-size:25px;width:20px;"></span>
                    </a>

                </div>
                <div class="text-center p-t-40">
                    <span class="txt1">
                        Hesabın yok mu?
                    </span>

                    <a class="txt2" href="/Account/SignUp">
                        Kayıt Ol
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

