
@{

    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-page-heading mb-30">
                        <h5>Ritmini değiştirmek mi istiyorsun?</h5>
                    </div>

                    <form action="#" method="post">
                        <div class="row">

                            <div class="col-12 mb-3">
                                <label for="country">Marka <span>*</span></label>
                                <select class="w-100" id="country">
                                    <option value="usa">United States</option>
                                    <option value="uk">United Kingdom</option>
                                </select>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="first_name">Model <span>*</span></label>
                                <input type="text" class="form-control" id="first_name" value="" required>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="first_name">Ürün Adı <span>*</span></label>
                                <input type="text" class="form-control" id="first_name" value="" required>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="street_address">Adres <span>*</span></label>
                                <input type="text" class="form-control mb-3" id="street_address" value="">

                            </div>

                            <div class="col-12 mb-3">

                                <form action="~/Controllers/Action" method="post" enctype="multipart/form-data">
                                    <label for="street_address">Resim <span>*</span></label>
                                    <br />

                                    <input   type="file" name="uploadfile" id="uploadfile" />
                                    <br />
                                    <br />
                                    <button class="btn essence-btn" type="submit">Yükle</button>
                                </form>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->
