
@{

    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<!-- ##### Checkout Area Start ##### -->
<div class="col-12 col-md-8 col-lg-9">
    <div class="shop_grid_product_area">
        <div class="row">
                <div class="col-12 col-md-10">
                    <div class="single-product-wrapper">
                        <div class="cart-page-heading mb-30">
                            <h5>Ritmini değiştirmek mi istiyorsun?</h5>
                        </div>
                        <form action="/Product/ProductAddComplete" method="post" enctype="multipart/form-data">
                            <div class="row">

                                <div class="col-12 mb-3">
                                    <label for="marka">Marka <span>*</span></label>
                                    <select class="w-100" id="marka">
                                        <option value="usa">United States</option>
                                        <option value="uk">United Kingdom</option>
                                    </select>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label for="model">Model <span>*</span></label>
                                    <input type="text" class="form-control" id="model" value="" required>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label for="urunad">Ürün Adı <span>*</span></label>
                                    <input type="text" class="form-control" id="urunad" value="" required>
                                </div>

                                <div class="col-12 mb-3">
                                    <label for="street_address">Adres <span>*</span></label>
                                    <input type="text" class="form-control mb-3" id="street_address" value="">

                                </div>

                                <div class="col-12 mb-3">
                                    <label for="uploadfile">Resim <span>*</span></label>
                                    <br />

                                    <input type="file" name="uploadfile" id="uploadfile" />
                                </div>

                                <div class="col-12 mb-3">
                                    <button class="btn essence-btn" type="submit">Yükle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>