@model ProductFilterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Script
{
    <script>

        @*$(function()
        {
            $("#btnFilterSearch").onClick(function() {

                var _categoryName = $("#categoryName").val();
                var _brandName = $("#brandName").val();

                var _data = {
                    categoryName: _categoryName,
                    brandName: _brandName
                };

                $.ajax({
                    url: @Url.Action("ProducFilter","Product"),
                    type: "POST",
                    data:_data

                })

            })
        }
        )*@

        $(function() {
            alert("RMA");
            $(".uflemeliler").click(function() {

                var tiklanan = $(this).text(); //Tiklanain Text degerini aliyorum.
                $(this).off('click'); // ikinci Kez tiklanmasini engelliyorum
                $("#displayNoneKaldir").css('display', 'block');
                //   $("#filterSecilenGoster").append("<p>" + tiklanan + "</p>" +"<span class='Kaldir fa fa-times'></span>");
                $("#filterSecilenGoster").append("<p class='pHover' onclick='Sil(this)'>" +
                    tiklanan +
                    "<i class='fa fa-times'></i> </p>"); // FilterSilmeIslemi adinda class olusturdum.
            });


        });


        function Sil(e) {
            console.log(e);
            var _text = e.textContent;
            console.log(_text);
            console.log($("a:contains("+_text+")").bind('click'));
            console.log($("a:contains(" + _text + ")"));
            $("a:contains("+_text+")").bind('click');
            e.remove();

        }


    </script>

    <style>
        .pHover :hover {
            background-color: red;
        }
    </style>
}


<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(/Content/Site/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Urunler</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Filtrele</h6>
                        <!-- Widget Title 2 -->
                    </div>
                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Kategoriler</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#clothing">
                                    <a href="#">Uflemeli Calgilar</a>
                                    <ul class="sub-menu collapse show" id="clothing">
                                        <li><a class="uflemeliler bulBeni">Flut</a></li>
                                        <li><a class="uflemeliler bulBeni">Borazan</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                    <a href="#">Tellıler</a>
                                    <ul class="sub-menu collapse" id="shoes">
                                        <li><a href="#">Keman</a></li>
                                        <li><a href="#">Chello</a></li>
                                        <li><a href="#">Saz</a></li>
                                        <li><a href="#">Gitar</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    @*<!-- ##### Single Widget ##### --> Renkler Kaldirildi
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Color</p>
                            <div class="widget-desc">
                                <ul class="d-flex">
                                    <li><a class="color1 colorSearch"></a></li>
                                    <li><a class="color2 colorSearch"></a></li>
                                    <li><a class="color3 colorSearch"></a></li>
                                    <li><a class="color4 colorSearch"></a></li>
                                    <li><a class="color5 colorSearch"></a></li>
                                    <li><a class="color6 colorSearch"></a></li>
                                    <li><a class="color7 colorSearch"></a></li>
                                    <li><a class="color8 colorSearch"></a></li>
                                    <li><a class="color9 colorSearch"></a></li>
                                    <li><a class="color10 colorSearch"></a></li>
                                </ul>
                            </div>
                        </div>*@

                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Brands</p>
                        <div class="widget-desc">
                            <ul>
                                <li><a href="#">Asos</a></li>
                                <li><a href="#">Mango</a></li>
                                <li><a href="#">River Island</a></li>
                                <li><a href="#">Topshop</a></li>
                                <li><a href="#">Zara</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn btn-success" type="button" id="btnFilterSearch">Filtrele</a>




                    <div style="display: none" id="displayNoneKaldir">
                        <ul id="filterSecilenGoster"></ul>
                    </div>



                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>9</span> Urun Gosteriliyor</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Price: $$ - $</option>
                                            <option value="value">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper" id="GuncellenecekOlanId">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-2.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-3.jpg" alt="">

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="/Product/Detail/2" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-3.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-4.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge new-badge">
                                        <span>New</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-4.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-5.jpg" alt="">

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-5.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-6.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-6.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-7.jpg" alt="">

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-7.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-8.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge new-badge">
                                        <span>New</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-8.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-9.jpg" alt="">

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-9.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-1.jpg" alt="">

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
