
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Welcome Area Start ##### -->
@*<section class="welcome_area bg-img background-overlay" style="background-image: url('../../Images/homebg.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">

                        <h2 style="color:aliceblue">Ritmini Değiştir!!</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
*@
<!-- ##### Welcome Area End ##### -->
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix" style="background-image: url('http://artistiksanatlarakademisi.com/wp-content/uploads/2018/04/artistik-sanatlar-akademisi-piyano-solfej-egitimi.jpg'); height:650px;background-position-y:-400px">
    <div class="container" style="margin-top:-30px;">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2 style="color:aliceblue">Öne Çıkan Takas Ürünleri</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    <!-- Single Product -->
                    <div class="single-product-wrapper" style="background-color:transparent; border-radius:10px;">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            @*<span style="color:black">topshop</span>*@
                            <h6 style="color:aliceblue">Knot Front Mini Dress</h6>
                            <a href="/Product/Detail">
                                <h5 style="color:aliceblue">Knot Front Mini Dress</h5>
                            </a>
                            <p class="product-price" style="color:aliceblue">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Takas</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper" style="background-color:transparent; border-radius:10px;">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            @*<span style="color:black">topshop</span>*@
                            <h6 style="color:aliceblue">Knot Front Mini Dress</h6>
                            <a href="/Product/Detail">
                                <h5 style="color:aliceblue">Knot Front Mini Dress</h5>
                            </a>
                            <p class="product-price" style="color:aliceblue">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper" style="background-color:transparent; border-radius:10px;">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            @*<span style="color:black">topshop</span>*@
                            <h6 style="color:aliceblue">Knot Front Mini Dress</h6>
                            <a href="/Product/Detail">
                                <h5 style="color:aliceblue">Knot Front Mini Dress</h5>
                            </a>
                            <p class="product-price" style="color:aliceblue">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper" style="background-color:transparent; border-radius:10px;">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            @*<span style="color:black">topshop</span>*@
                            <h6 style="color:aliceblue">Knot Front Mini Dress</h6>
                            <a href="/Product/Detail">
                                <h5 style="color:aliceblue">Knot Front Mini Dress</h5>
                            </a>
                            <p class="product-price" style="color:aliceblue">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->

<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Son Eklenenler</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="shop_grid_product_area">


                    <div class="row">
                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>


                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>


                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>


                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>


                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/Content/Site/img/product-img/product-1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/Content/Site/img/product-img/product-2.jpg" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6 style="font-size:13px;">Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    @*<div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Product/Detail/1" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Pagination -->

            </div>
        </div>
    </div>
</section>