
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Kayıt işlemi başarılı Login için  <a href="http://localhost:50903/Home/Index">tıklayınız.</a>
    </div>
</body>
</html>
